    <!-- starts footer -->
    <div id="footer">
        <div class="container">
            <div class="row copyright">
                <div class="span2 offset5 copy">
                    <p>2012 - Measure Template</p>
                </div>
            </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/theme.js"></script>
