   <div id="intro">
     <div class="container">
       <h1><%= @intro %></h1>
     </div>
   </div>
   <div id="features">
     <div class="container">
       <h2 class="section_header">
         What we do
       </h2>
       <div class="row">
         <div class="span4 feature">
          <a href="/diplomas">
           <img src="/images/soph.jpg" alt="Sophie Toor teaching" class="thumb">
           <h3>
             Diploma and Certificate Courses in Asthma and COPD
           </h3>
          </a>
         </div>
         <div class="span4 feature">
          <a href="/spirometry" >
           <img src="/images/lungs.png" alt="Lungs" class="thumb">
           <h3>
             Spirometry Courses
           </h3>
          </a>
         </div>
         <div class="span4 feature">
          <a href="/consultancy-and-project-management">
           <img src="/images/breathe2.jpg" alt="a ceramic tile with the word 'breathe' on it" class="thumb">
           <h3>
             Consultancy and Project Management
           </h3>
          </a>
         </div>
       </div>
     </div>
   </div>
