   <div id="intro">
     <div class="container">
       <h1><%= @intro %></h1>
     </div>
   </div>
   <div id="features">
     <div class="container">
       <h2 class="section_header">
         <hr class="left visible-desktop">
         What we do
         <hr class="right visible-desktop">
       </h2>
       <div class="row">
         <div class="span4 feature">
           <img src="/images/soph.jpg" alt="Sophie Toor teaching" class="thumb">
           <h3>
             Diplomas
           </h3>
           <p class="description">
             Our diplomas are designed for qualified Health Care Professionals, such as GPs, Nurses and Pharmacists. The modules are delivered by face-to-face teaching, and supported with distance learning materials and e mail/telephone support.
           </p>
           <a href="/diplomas" class="btn btn-default">more</a>
         </div>
         <div class="span4 feature">
           <img src="/images/inhaler.jpg" alt="Inhaler" class="thumb">
           <h3>
             Training courses
           </h3>
           <p class="description">
             We currently provide training courses in
             Asthma, Chronic Obstructive Pulmonary Disease and
             Spirometry.  These can be tailored to meet your needs.
           </p>
           <a href="/training-courses" class="btn btn-default">more</a>
         </div>
         <div class="span4 feature">
           <img src="/images/breathe2.jpg" alt="a ceramic tile with the word 'breathe' on it" class="thumb">
           <h3>
             Consultancy
           </h3>
           <p class="description">
             We have worked with many large organisations such as
             Asthma UK, Yorkshire and Humber SHA, Interface Clinical
             Services and Pharmaceutical companies.
           </p>
           <a href="/consultancy" class="btn btn-default">more</a>
         </div>
       </div>
     </div>
   </div>
