<!DOCTYPE html>
<html>
<head>
        <title>Respiratory Matters: <%= @title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Respiratory Matters is the UK’s leading provider of RCN-accredited respiratory courses about Asthma, COPD and Spirometry.">

        <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
    <link rel="stylesheet" type="text/css" href="/css/blog.css">
    <link rel="stylesheet" type="text/css" href="/css/external-pages.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <a href="#" class="scrolltop">
        <span>up</span>
    </a>
    <!-- begins navbar -->
        <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
                <a class="brand" href="/">
                  <h1 class="logo"><span id="respiratory">respiratory</span><span id="matters">matters</span></h1>
            </a>
                <ul class="nav pull-right">
                    <li><a href="/diplomas">Diplomas</a></li>
                    <li><a href="/training-courses">Training courses</a></li>
                    <li><a href="/consultancy">Consultancy</a></li>
                    <li><a href="/about-us">About us</a></li>
                </ul>
        </div>
      </div>
    </div>
    <!-- ends navbar -->
    <%= yield %>
    <!-- starts footer -->
    <div id="footer">
        <div class="container">
            <div class="row copyright">
              <p>
                &copy; Respiratory Matters, <%= @copyright_year %><br>
                Tel: 01231 123123123<br>
                Email: <a href="mailto:info@respiratorymatters.com">info@respiratorymatters.com</a><br>

              </p>
            </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
</body>
</html>
