    <!-- begins navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand scroller" data-section="body" href="index.html">
                <img src="/images/logo.png" alt="logo" />
            </a>
                <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><a href="/courses/spirometry">Spirometry</a></li>
                    <li><a href="/courses/copd">COPD</a></li>
                    <li><a href="/courses/asthma">Asthma</a></li>
                    <li><a href="/courses/diploma-courses">Diploma courses</a></li>
                    <li><a href="/about-us">About us</a></li>
                </ul>
                </div>
        </div>
      </div>
    </div>
    <!-- ends navbar -->