    <div id="about" class="about_page">
        <div class="container">
            <!-- header -->
            <h2 class="section_header">
                <span><%= @title %></span>
            </h2>

            <%= yield %>
        </div>
    </div>
